@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */

@theme {
  /* --font-spaceMono: "Noto Sans", sans-serif; */

  --color-primary: #121212;
  --color-strong: #ffffff;
  --color-muted: #5a5a5a;
  /* --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite; */

  /* @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  } */
}

/* @theme inline {
  --animate-border: border 4s linear infinite;
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-marquee-reverse: marquee-reverse var(--duration) linear infinite;
  --animate-marquee-vertical-reverse: marquee-vertical-reverse var(--duration)
    linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-reverse {
    from {
      transform: translateX(calc(-100% - var(--gap)));
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes marquee-vertical-reverse {
    from {
      transform: translateY(calc(-100% - var(--gap)));
    }
    to {
      transform: translateY(0);
    }
  }
} */
