@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-spaceMono: "Noto Sans", sans-serif;

  --color-primary: #121212;
  --color-strong: #ffffff;
  --color-muted: #5a5a5a;
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
